<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div>
    <button (click) = "verify()"></button>
  </div>
<div class = "container-fluid">
<form [formGroup] = "timeslots" (ngSubmit)="onSubmit()" novalidate id = "idk">
  
  <div class = "form-group">
    <label>Add beach name</label>
    <input type="text" formControlName="beach" [(ngModel)]="event.beach" class="form-control" [class.is-invalid]="timeslots.get('beach').invalid && timeslots.get('beach').touched">
    <div *ngIf="timeslots.get('beach').invalid && timeslots.get('beach').touched">
      <small *ngIf="timeslots.get('beach').errors?.required" class="text-danger" >Beach name is required</small>
    </div>
  </div>

  <div class="form-group">
    <label>No of hours</label>
    <input type="number" formControlName="hours" [(ngModel)]="event.hours" class="form-control" [class.is-invalid]="timeslots.get('hours').invalid && timeslots.get('beach').touched">
    <div *ngIf="timeslots.get('hours').invalid && timeslots.get('hours').touched">
      <small *ngIf="timeslots.get('hours').errors?.required" class="text-danger" >Please tell number of hours</small>
    </div>
  </div>

  <div class="form-group">
    <label>Date of event</label>
    <input type="date" formControlName="date" [(ngModel)]="event.date" class="form-control" [class.is-invalid]="timeslots.get('date').invalid && timeslots.get('date').touched">
    <div *ngIf="timeslots.get('date').invalid && timeslots.get('date').touched">
      <small *ngIf="timeslots.get('date').errors?.required" class="text-danger" >Date of event is required</small>
      <small *ngIf="form.hasError('loaddate')">Load date must be before delivery date</small>
    </div>
  </div>

  <div class="form-group">
    <label>Start time of the event</label>
    <input type="number" formControlName="starttime" [(ngModel)]="event.starttime" class="form-control" [class.is-invalid]="timeslots.get('starttime').invalid && timeslots.get('starttime').touched">
    <div *ngIf="timeslots.get('starttime').invalid && timeslots.get('starttime').touched">
      <small *ngIf="timeslots.get('starttime').errors?.required" class="text-danger" >Start time of event is required</small>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" (click)="printf()">Login</button>

</form>
</div>
<!--<script>
  function printf() {
    document.getElementById("idk").innerHTML = "Data entered successfully";
  }
</script>-->
</body>
</html>