<!---<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Register</div>
  
      <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
        <div class="form-container">  
          <mat-form-field>
              <input id="uid"
                     matInput
                     formControlName="uid"
                     [(ngModel)]="user.uid"
                     placeholder="Enter your uid" />
            </mat-form-field>
  
          <mat-form-field>
              <input id="password"
                     matInput
                     formControlName="password"
                     [(ngModel)]="user.password"
                     placeholder="Enter your password"
                     [type]="hide ? 'password':'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!loginForm.valid">Login</button>
            <button mat-button routerLink="/register" class="divider">Register</button>
        </div>
      </form>
    </div>
  </div>--->

<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class = "container-fluid">
<form [formGroup] = "loginForm" (ngSubmit)="onLoginSubmit()" novalidate>
  
	<div class = "form-group">
	  <label> UID </label>
    <input type="text" [(ngModel)]="user.uid" [class.is-invalid]="loginForm.get('uid').invalid && loginForm.get('uid').touched" formControlName="uid" class="form-control">
 <!-- <small class="text-danger" [class.d-none]="loginForm.get('uid').valid || loginForm.get('uid').untouched">Username is required</small>-->
	  <div *ngIf="loginForm.get('uid').invalid && loginForm.get('uid').touched">
      <small *ngIf="loginForm.get('uid').errors?.required" class="text-danger" >UID is required</small>
      <small *ngIf="loginForm.get('uid').errors?.minlength" class="text-danger">UID is 10 digit number</small>
    </div>
  </div>
  
	<div class = "form-group">
	<label>Password</label>
  <input type="password" [(ngModel)]="user.password" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password" class="form-control">
    <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
      <small *ngIf="loginForm.get('password').errors?.required" class="text-danger" >Password is required</small>
      <small *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">Should be of atleast 6 letters</small>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Login</button>
  <!--<button (click)="loadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>--->
</form>
</div>
</body>
</html>
  